@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
html{
    background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
    min-height: 100%;
}

body{
	background-color: transparent;
}

#main{
	max-width: 900px;
	margin: 180px auto;
}

#main .image{
	float:left;
/*	background-image: url("../img/index/1.png");
	background-size: cover;
	background-position: center;	
*/	height: 400px;
	width: 45%;
}

#main .frm{
	float:right;
	height: 400px;
    width: 55%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: white;
}

.row h1{
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Lobster Two',cursive;
    font-size: 3rem;
    color: #26A69A;
    font-style: italic;
}



@media screen and (max-width: 800px){
	#main .image{
		width: 50%;
		height: 400px;
	    background-position: 60%;
	}

	#main .frm{
		height: 400px;
	    width: 50%;
	}
	#main{
		margin: 90px 10px 0 10px;
	}
	#img{
		display: none
	}
}

@media screen and (max-width: 500px){
	#main .image{
		display: none;
	}

	#main .frm{
		width: 100%;
		height:100%;
	}

	#main h1{
		text-align: center;
	}
	#main{
		margin:50px 10px 0 10px;
	}
	#img{
		display: inline
	}
	.bg{
		background: #FFF url(../img/main.png) no-repeat;
		background-position: center;
		background-size: 100%;
	}
}